.main-title { color: #000000 }
.main-authors { color: #008800 }
.main-abstract { color: #000000 }
.header-abstract { font-family: codeBold; color: #000000 }
.header-list { font-family: codeBold; color: #000000 }
.item-authors { color: #008800 }
.main-citation-count { margin-bottom: 1em }
.notice { font-family: code; color: #880000 }
.command { margin-bottom: 1em; color: red }

body {
    font-family: default;
    color: black;
    padding: 5px
}

a {
    font-family: link;
    color: blue
}

p {
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

ul {
    margin-bottom: 1em;
}

li {
    margin-top: 0.25em;
}

ol > li {
    padding-left: 5px;
}

div div {
    font-family: big
}

#portrait {
    text-align: left;
    margin-bottom: 1em;
    border: none;
}

h1 {
    font-family: big; 
}


pre { font-family: code; color: #000000 }
.ST0 { font-family: codeBold; color: #404040 }
.comment { font-family: code; color: #404040 }
.character { font-family: code; color: #ce7b00 }
.keyword-directive { font-family: code; color: #0000e6 }
